@font-face {
    font-family: poker; 
    src: url(PokerInOctoberDemo-Dxm3.otf);
}

body {
    margin: 0;
    font-family: poker;
}
section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

h1, h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    margin: 0;
}
h2 {
    font-size: 35px;
}
#text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

}
h1 {
    width: 1100px;
}

#wallet {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


#bankTable {
    display: flex;
    justify-content: center;
    padding-top: 15px;

}
#playerTable {
    display: flex;
    justify-content: center;
    padding-top: 280px;
}

#table {
    border: 30px solid #643e36;
    width: 1000px;
    height: 600px;
    border-radius: 10% 10% 50% 50%;
    background-color: #35654d;
}
section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 5px;
}
.choiceButtons {
    width: 300px;
    height: 50px;
}
section3 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#placeBetInput {
    height: 50px;
}
#placeBetButton {
    height: 40px;
}

#information {
    text-align: center;
}

.cards {
    height: 95px;
    width: 75px;
    background-color: white;
    color: black;
    text-align: center;
}
#playerHand {
    display: flex;
    gap: 5px;
}
#bankHand {
    display: flex;
    gap: 5px;
}
p {
    margin: 0;
}
#counterForPlayer {
    padding-top: 5px;
}
#counterForBank {
    padding-top: 5px;
}