@font-face {
    font-family: playFair; 
    src: url(PlayfairDisplay-Regular.ttf);
}

:root {
    --height: 30px
}
body {
    font-family: playFair;
}
#home {
    display: flex;
    justify-content: center;
}
.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#numbers {
    display: grid;
    grid-template-columns: repeat(20, auto);
    gap: 10px;
}
.randomNumbersCell {
    height: 50px;
    background-color: lightgray;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input {
    width: 55px;
    text-align: center;
    font-size: 17px;
    height: var(--height);
}
button {
    height: var(--height);
}
.addUpToColorCell {
    background: rgba(205, 254, 194,1);
}