@font-face {
    font-family: playFair; 
    src: url(PlayfairDisplay-Regular.ttf);
}

:root {
    --height: 30px
}
body {
    font-family: playFair;
}
.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    gap: 20px;
}
.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
p {
    font-size: 18px;
}

.randomNumbersCell {
    height: 50px;
    background-color: lightgray;
    width: 50px;
    border-radius: 20%;
    font-size: 18px;
}
input {
    width: 55px;
    text-align: center;
    font-size: 17px;
    height: var(--height);
}
button {
    height: var(--height);
    font-size: 15px;
}
