#removeInput {
    width: 250px;
}
.noHoverAndClick:hover {
    pointer-events: none;
}
.noHoverAndClick{
    outline: none;

}
.lightOrangeColor:hover {
    background-color: rgb(250, 202, 114);
}
.markOrange {
    background-color: orange;
}
.markRed {
    background-color: red;
}